

@media (min-height: 100px) {
  @media (max-width: 800px) {
    
  
.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

  }
  
  .layerContainer{
    margin: 3%;
  }
  .layer {
    width: 100%;
    text-align: center;
    color: white;

  }
  
  .layer1 {
    background-color: #f1f1f1f1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  
  .layer2 {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow-y: auto;
    background-color: #f1f1f1f1;
    height: 100vh;
  }
  
  .layer3 {
    background-color: #f1f1f1f1;
  }
  .buttonBack{
    background-color:#4D4C7D;
    padding: 5px;
  }
  .ArrowBack{
    color: #fff;
  }
}

}
@media (min-height: 600px) {
  @media (min-width: 800px) {

    .containerMaster {
      position: fixed;
      width: 97%;
      
      padding: 50px;
      display: flex;
      height: 97%;
      
      background-color: rgb(233, 233, 233);
      overflow: hidden; /* Garante que o .container não ultrapasse os limites de .containerMaster */
  }

  .logerror{
    position: absolute;
    top: 0;
    height: 200px;
    background-color: aqua;
  }
    
    .container {
      position: relative;
      font-family: 'alecrin';
      width: 100%;
      padding: 10px;
      height: 100%;
      display: flex;
      border-radius: 10px;
      flex-direction: column;
  }
  
  .layerContainer{
    margin-left: 10%;
    margin-right: 10%;
  }
  .layer {
    
    width: 100%;
    text-align: center;
    color: white;

  }
  
  .layer1 {
    width: 100%;
    margin-top: 10px;
  }
  


  .layer2 {
    overflow-y: auto;
    scrollbar-width: none; /* Para navegadores modernos */
    -ms-overflow-style: none; /* Para navegadores antigos (IE) */
    
    margin-top: 20px;

  }

  .layer2::-webkit-scrollbar {
    display: none;
  }
  
  .layer3 {

    
  }
  .ArrowBack{
    color: #333;
  }



  }
}