

@media (max-width: 800px) {
    
.containerLayer1{
    display: flex;
    gap: 10px;
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 10px;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    
}
.containerLayer1::-webkit-scrollbar {
    display: none; /* esconde a barra de rolagem no Chrome/Safari */
}
}


@media (min-width: 800px) {
    .containerMaster{
        display: flex;
        
        justify-content: center;
    }
    .containerLayer1{
        display: flex;
        gap: 5%;
        flex-direction: row;
        justify-content: space-between;
        
    }
    }
    