

@media (max-width: 800px) {
    
.containerLayer1{
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    justify-content: space-between;
    
}
}


@media (min-width: 800px) {
    .containerMaster{
        display: flex;
        justify-content: center;
    }
    .containerLayer1{
        display: flex;
        gap: 5%;
        flex-direction: row;
        justify-content: space-between;
        
    }
    }
    