

.button {
    background-color: var(--second-color-button-medium);
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 40px;
    font-family: "default";
    width: 80px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;    
    border: none;
    font-size: 1rem;
    align-items: center;
    font-weight: 500;
    color: #fff;
    border-radius: 5px;
  }

  .button:disabled {
    background-color: #4d4c7d44;

  }