
@font-face {
  font-family: "default";
  src: url(./fonts/Roboto-Medium.ttf);
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "default";
  -webkit-tap-highlight-color: transparent;
}

body {
  cursor: default;
}

/* Desabilita seleções de texto */
body {
  user-select: none;
}

:root {
  --primary-color-button-light:  #333;
  --primary-color-button-medium: #3498db;
  --primary-color-button-high: #3498db;

  







  --primary-color-button-light:  #4D4C7D;
  --primary-color-button-medium: #3498db;
  --primary-color-button-high: #3498db;

  
  --second-color-button-light: #4D4C7D;
  --second-color-button-support: #f0f0f0;
  --second-color-button-active: rgb(102, 101, 172);
  --second-color-button-medium: #4D4C7D;
  --second-color-button-high: #363062;



}



  a {
    text-decoration: none;
    color: black;
    -webkit-tap-highlight-color: transparent;
  }

  .active {
    padding: 0px;
    color: black;
    border-bottom: 2px solid;
  }
  li,
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  p,
  h1,
  h4 {
    margin: 0;
    padding: 0;
  }
